@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
  position: relative;
min-height: 100vh;}
/* عنصر وهج عام */
.glow-wrapper {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.glow {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.6;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.glow.green {
  background: rgba(3, 118, 22, 0.467);
  left: -100px;
  top: 30%;
  animation-name: pulse-green;
  animation-delay: 0s;
}

.glow.right {
  background: rgba(255, 255, 255, 0.567);
  right: -100px;
  top: 50%;
  animation-name: pulse-right;
  animation-delay: 1s;
}

.glow.blue {
  background: #2ba7ff76;
  left: -80px;
  bottom: 20%;
  animation-name: pulse-blue;
  animation-delay: 2s;
}

@keyframes pulse-green {
  0%, 100% {
    transform: scale(1) translateX(0);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.4) translateX(120px);
    opacity: 1;
  }
}

@keyframes pulse-right {
  0%, 100% {
    transform: scale(1) translateX(0);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.4) translateX(-120px);
    opacity: 1;
  }
}

@keyframes pulse-blue {
  0%, 100% {
    transform: scale(1) translateX(0);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.4) translateX(100px);
    opacity: 1;
  }
}